@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(239, 255, 147);
}

h1 {
  color: rgb(2, 147, 196);
  background-color: rgb(153, 197, 254);
  padding: 10px;
}

button {
  background-color: rgb(223, 164, 1);
  color: whitesmoke;
}
